@page "/ButtonComplete"
@model DrawingSearch.Pages.page2Model
@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Button1Result</title>
</head>
<body>
    <div>ボタンがクリックされました。</div>
</body>
</html>